<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro</title>
</head>
<style>
    body{
        background-color: blueviolet;
        height: 100%;
        width: 100%;

    }
    .container>form{
        margin-top: 40%;
        text-align: center;

    }
</style>
<body>
    <div class='container'>
        <form action="/enter" autocomplete="on" method="POST">
            <h1>Welcom to svmy Chat</h1>
            <input type="name" name='input' placeholder="Room name" >
            <button type='submit'>Enter</button>
            <button type="reset">Reset</button>
        </form>
    </div>
</body>
</html>